<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="com.mlieber.KanjiKing"
      android:versionCode="143"
      android:versionName="1.4.3">
      <application android:icon="@drawable/icon" android:label="@string/app_name" >
        <activity android:name="KanjiKing"
                  android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:configChanges="orientation">    
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="Settings"
                  android:label="Settings"
            android:screenOrientation="portrait"
            android:configChanges="orientation">
        </activity>
        <activity android:name="Search"
                  android:label="Search"
            android:screenOrientation="portrait"
            android:configChanges="orientation">
        </activity>
    </application>
    <uses-sdk android:minSdkVersion="8" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
</manifest> 
